* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.ingredient {
  width: 30%;
  margin: 2rem;
  text-align: left;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

